@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #1990b6;
}

a:hover, a:active {
    color: #1aa5cd;
}

#login-form {
    width: 350px;
}

#user {
    width: 320px;
    text-align: center;
    line-height: 1.25rem;
}

#user img {
    border-radius: 100%;
    max-width: 100px;
}

form label {
    display: block;
    text-transform: uppercase;
    font-size: 90%;
}

form input, form textarea, form button {
    margin-top: .25rem;
    margin-bottom: .75rem;
    padding: 4px;
    display: block;
    width: 100%;
    background: #fff;
}

.text-red {
    color: #ee5c4e;
}

.text-green {
    color: #5cb85c;
}
